{% extends 'front/user/base.html.twig' %}

{% block content %}
    <div class="dashboard-widg-bar d-block">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="d-flex align-items-center p-3 alert alert-danger">
                    Your listings will be automatically removed after 30 days.
                </div>
                <div class="mb-4 tbl-lg rounded overflow-hidden">
                    <div class="table-responsive bg-white">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Filled</th>
                                <th scope="col">Posted Date</th>
                                <th scope="col">Expired</th>
                                <th scope="col">Applications</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                                {% include 'front/user/employer/_job_row.html.twig' with {job: job} only %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

