<turbo-stream action="replace" target="applied_stream">
    <template>
        <div class="center text-center">
            <img src="{{ asset('img/kyc-progress.png') }}" alt="">
            <h4>{{ 'ui.alerts.application_posted'|trans }}</h4>
        </div>
    </template>
</turbo-stream>
