<a href="{{ path('app_front_job_bookmark', {id: job.id}) }}" class="p-3 border rounded d-flex align-items-center justify-content-center bg-white {{ bookmarked ? 'text-danger' : '' }}">
    <i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i>
</a>