<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
    <div class="d-flex align-items-center">
        <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
            <i class="fas fa-check small"></i>
        </div>
        <h6 class="mb-0 ml-3 text-muted fs-sm">{{ label }}</h6>
    </div>
</div>