{% extends 'front/base.html.twig' %}

{# {% set breadcrumb = block('breadcrumbs') %} #}

{% block body %}

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->

    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="bg-title py-5" data-overlay="0">
        <div class="ht-30"></div>
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium">{{ 'ui.titles.job_search'|trans }}</h1>
                    {# {{ breadcrumb|raw }} #}
                </div>
            </div>
        </div>
        <div class="ht-30"></div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->

    {{ component('full_search', {jobSearchData: jobSearchData}) }}

{% endblock %}

