{% extends 'front/user/base.html.twig' %}

{% block content %}
	<div class="dashboard-widg-bar d-block">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="_dashboard_content bg-white rounded mb-4">
					<div class="_dashboard_content_header br-bottom py-3 px-3">
						<div class="_dashboard__header_flex">
							<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-lock mr-1 theme-cl fs-sm"></i>Change Password</h4>	
						</div>
					</div>
					
					<div class="_dashboard_content_body py-3 px-3">
						{{ form_start(form, {attr: {class: 'row'}}) }}
							<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
								{{ form_row(form.oldPassword) }}
							</div>
							<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
								{{ form_row(form.plainPassword) }}
							</div>
							<div class="col-xl-12 col-lg-12">
								<div class="form-group">
									<button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">Save Changes</button>
								</div>
							</div>
							
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
			
	</div>
{% endblock %}