{% extends 'front/base.html.twig' %}


{% block body %}
{# Top Bar #}
<div class="py-3 theme-bg searchingBar">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-xl-7 col-lg-9 col-md-9 col-sm-12 col-12">							
				<form class="bg-white rounded p-1 border">
					<div class="row no-gutters">
						<div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 col-12">
							<div class="form-group mb-0 position-relative">
								<input type="text" class="form-control sm left-ico" placeholder="Job Title, Keyword or Company">
								<i class="bnc-ico lni lni-search-alt"></i>
							</div>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
							<div class="form-group mb-0 position-relative">
								<input type="text" class="form-control sm left-ico" placeholder="Location or Zip Code">
								<i class="bnc-ico lni lni-target"></i>
							</div>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-12">
							<div class="form-group mb-0 position-relative">
								<button class="btn full-width custom-height sm rounded bg-dark text-white fs-md" type="button">Go</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
				<div class="d-block position-relative text-right">
					<a href="#" onclick="openSearch()" class="mlb-btn btn ft-medium rounded text-dark bg-light"><i class="ti-bell mr-1"></i>Job Alert</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
{# /Top Bar #}

{# Employers grid #}

	{{ component('employers_search', {employerSearchData: employerSearchData}) }}

{# /Employers grid #}

{% endblock %}