{% extends 'front/base.html.twig' %}

{% block body %}
	<section class="middle">
		<div class="container">
			<div class="row align-items-start justify-content-between">
			
				<div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods">
					<div class="d-block border rounded mfliud-bot mb-4">
						<div class="cdt_author px-2 pt-5 pb-4">
							<div class="dash_auth_thumb rounded p-1 border d-inline-flex mx-auto mb-3">
								<img src="https://via.placeholder.com/120x120" class="img-fluid" width="100" alt="">
							</div>
							<div class="dash_caption mb-4">
								<h4 class="fs-lg ft-medium mb-0 lh-1">{{ user.username }}</h4>
								<span class="text-muted smalls"><i class="lni lni-map-marker mr-1"></i>Denver, USA</span>
							</div>
							<div class="jb-list-01-title px-2">
								<span class="mr-2 mb-2 d-inline-flex px-2 py-1 rounded theme-cl theme-bg-light">Photoshop</span>
								<span class="mr-2 mb-2 d-inline-flex px-2 py-1 rounded text-warning bg-light-warning">WordPress</span>
								<span class="mr-2 mb-2 d-inline-flex px-2 py-1 rounded text-danger bg-light-danger">Magento</span>
								<span class="mr-2 mb-2 d-inline-flex px-2 py-1 rounded text-info bg-light-info">CSS3</span>
								<span class="px-2 mb-2 d-inline-flex py-1 rounded text-purple bg-light-purple">HTML5</span>
							</div>
						</div>
						
						<div class="cdt_caps">
							<div class="job_grid_footer pb-3 px-3 d-flex align-items-center justify-content-between">
								<div class="df-1 text-muted"><i class="lni lni-briefcase mr-1"></i>10 Openings</div>
								<div class="df-1 text-muted"><i class="lni lni-laptop-phone mr-1"></i>IT &amp; Software</div>
							</div>	
							<div class="job_grid_footer px-3 d-flex align-items-center justify-content-between">
								<div class="df-1 text-muted"><i class="lni lni-envelope mr-1"></i>{{ user.email }}</div>
								<div class="df-1 text-muted"><i class="lni lni-calendar mr-1"></i>Build 2010</div>
							</div>
						</div>
						
						<div class="cdt_caps py-5 px-3">
							<a href="#" class="btn btn-md theme-bg text-light rounded full-width">Contact Company</a>
						</div>
						
					</div>
				</div>
				
				<div class="col-12 col-md-12 col-lg-8 col-xl-8">
				
					<!-- row -->
					<div class="row align-items-start">
						
						<!-- About -->
						<div class="abt-cdt d-block full-width mb-4">
							<h4 class="ft-medium mb-1 fs-md">About {{ user.username }}</h4>
							<p>{{ user.about }}</p>
						</div>
						
						<!-- Hobbies -->
						<div class="abt-cdt d-block full-width mb-4">
							<h4 class="ft-medium mb-1 fs-md">Instructions</h4>
							<div class="position-relative row">
								<div class="col-lg-12 col-md-12 col-12">
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Strong core PHP Hands on experience.</h6>
										</div>
									</div>
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Strong Expertise in CodeIgniter Framework .</h6>
										</div>
									</div>
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Understanding of MVC design pattern.</h6>
										</div>
									</div>
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Expertise in PHP, MVC Frameworks and good technology exposure of Codeigniter .</h6>
										</div>
									</div>
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3</h6>
										</div>
									</div>
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Good knowledge of relational databases, version control tools and of developing web services.</h6>
										</div>
									</div>
									<div class="mb-2 mr-4 ml-lg-0 mr-lg-4">
										<div class="d-flex align-items-center">
										  <div class="rounded-circle bg-light-success theme-cl p-1 small d-flex align-items-center justify-content-center">
											<i class="fas fa-check small"></i>
										  </div>
										  <h6 class="mb-0 ml-3 text-muted fs-sm">Proficient understanding of code versioning tools, such as Git.</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Award -->
						<div class="abt-cdt d-block full-width mb-4">
							<h4 class="ft-medium mb-1 fs-md">Award</h4>
							<div class="exslio-list mt-3">
								<ul>
									<li>
										<div class="esclio-110 bg-light rounded px-3 py-3">
											<h4 class="mb-0 ft-medium fs-md">FIFA Award</h4>
											<div class="esclio-110-info full-width mb-2">
												<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2010</span>
											</div>
											<div class="esclio-110-decs full-width">
												<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="theme-cl">Read More..</a></p>
											</div>
										</div>
									</li>
									
									<li>
										<div class="esclio-110 bg-light rounded px-3 py-3">
											<h4 class="mb-0 ft-medium fs-md">CIMPLA Award</h4>
											<div class="esclio-110-info full-width mb-2">
												<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2012</span>
											</div>
											<div class="esclio-110-decs full-width">
												<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="theme-cl">Read More..</a></p>
											</div>
										</div>
									</li>
									
									<li>
										<div class="esclio-110 bg-light rounded px-3 py-3">
											<h4 class="mb-0 ft-medium fs-md">Lisa Award</h4>
											<div class="esclio-110-info full-width mb-2">
												<span class="text-muted mr-2"><i class="lni lni-calendar mr-1"></i>2015</span>
											</div>
											<div class="esclio-110-decs full-width">
												<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam <a href="javascript:void(0);" class="theme-cl">Read More..</a></p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
					<!-- row -->
					
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}